# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
test_cache_automigrate.db
test_cache_delete.db
test_cache_store_create.db
test_entity_automigrate.db
test_store_create.db
test_cache_debug.db
test_cache_set_key.db
test_cache_update_key.db
